@charset "utf-8";
/* CSS Document */
.jd_box{min-width:1210px;margin:0 auto;}
/*nav*/
.nav_box{min-width:1210px;height:30px;background:#f7f7f7;boder-bottom:1px solid #eee;}
.nav{width:1210px;height:30px;margin:0 auto;}
.nav_l ul a{color:#666;}
.nav_l_li1{margin-right:20px;}
.nav_l_li1 p{width:12px;height:11px;background:url(../images/s_bg_00.png) no-repeat;margin:9px 0 0 1px;}
.nav_l_li1 span{margin:9px 0 0 3px;}
.nav_l_li2{margin-right:12px;}
.nav_l_li2 p{width:12px;height:12px;background:url(../images/sy_bg_01.png) no-repeat;margin:9px 6px 0 0;}
.nav_l_li2 span{margin:9px 0 0 3px;}
.nav_l_li3{}
.nav_l_li3 p{width:10px;height:15px;background:url(../images/sy_bg_02.png) no-repeat;margin:9px 8px 0 0;}
.nav_l_li3 span{margin:9px 4px 0 3px;font-weight:bold;}
.nav_l_li3 i{margin-top:9px;font-style:normal;}
.nav_r ul a{color:#666;}
.nav_r ul li{border-right:1px solid #ddd;padding-right:10px;padding-left:10px;margin-top:9px;}
.nav_r .nav_r_li1 a{margin-left:7px;}
.nav_r_p1{width:24px;height:11px;background:url(../images/sy_bg_03.png) no-repeat;margin-right:4px;}
.nav_r_p2{width:21px;height:11px;background:url(../images/sy_bg_04.png) no-repeat;margin-right:4px;}
.nav_r .nav_r_p3{width:13px;height:22px;background:url(../images/sy_bg_05.png) no-repeat;margin-right:4px;margin-top:-5px;}
.nav_r .b1{width:7px;height:4px;background:url(../images/sy_bg_06.png) no-repeat;margin-top:3px;margin-left:9px;}
.nav_r ul .nav_r_last{border-right:none;}
/*search*/
.search{width:1210px;height:90px;margin:0 auto;}
.search h1{text-indent:-999em;width:159px;height:42px;background:url(../images/bg_logo.png) no-repeat;margin-top:24px;}
.logo_jxw{width:95px;height:62px;background:url(../images/bg_logo_jixiangwu.png) no-repeat;margin:18px 0 0 12px;}
.s_inpt{margin:19px 0 0 34px;width:520px;}
.s_inpt input{width:406px;height:30px;outline:none;border:none;border:3px solid #e4393c;padding-left:10px; border-right:none;} 
.submit{width:81px;height:36px;background:#e4393c;text-align:center;line-height:36px;color:#fff;margin-right:20px;}
.text_list a{float:left;margin-right:6px;}
.text_list{width:520px;margin-top:6px;}
.my_jd{width:104px;height:30px;border:1px solid #efefef;line-height:30px;margin-top:24px;background:#f7f7f7;}
.my_jd i{width:17px;height:17px;background:url(../images/sy_bg_07.png) no-repeat;margin:6px 0 0 7px;}
.my_jd b{width:10px;height:5px;background:url(../images/sy_bg_08.png) no-repeat;margin:12px 0 0 8px;}
.my_jd span{margin-left:7px;}
.my_gwc{width:128px;height:30px;border:1px solid #efefef;line-height:30px;margin-top:24px;background:#f7f7f7;margin-left:10px;position:relative;}
.my_gwc i{width:20px;height:16px;background:url(../images/sy_bg_09.png) no-repeat;margin:6px 0 0 7px;}
.my_gwc b{width:10px;height:5px;background:url(../images/sy_bg_08.png) no-repeat;margin:12px 0 0 8px;}
.my_gwc span{margin-left:7px;}
.my_gwc strong{display:inline-block;padding:0 3px;position:relative;background:url(../images/sy_bg_hc.png) repeat-x;height:19px;line-height:19px;color:#fff; position:absolute;left:22px;top:-15px;}
.h_left{width:3px;height:19px;position:absolute;left:0;top:0;background:url(../images/sy_bg_hl.png) no-repeat;}
.h_right{width:3px;height:17px;position:absolute;right:0;top:0;background:url(../images/sy_bg_hr.png) no-repeat;}
.two_wm{width:138px;height:68px;position:fixed;background:#fff url(../images/sy_bg_10.png) no-repeat;left:1142px;top:40px;z-index:9;}
/*life*/
.life_t{height:44px;width:1210px;margin:0 auto;}
.life_t h4{font-size:23px;margin-top:11px;color: #666666;}
.life_t a{font-size:13px;margin-top:19px;margin-left:10px;color:#999999;}
.life_box{width:1210px;margin:0 auto;overflow:hidden;}
.life_c{width:1230px;}
.life_c li{width:295px;height:190px;float:left;margin-right:10px;margin-top:10px;position:relative;}
.life_c li div{width:120px;height:190px;position:absolute;top:0;left:0;}
.life_c li div p{width:120px;height:190px;position:relative;background:#bfbfbf;opacity:0.6;}
.life_c li div dl{width:100px;height:190px;padding-left:20px;position:absolute;left: 0;top: 0;}
.life_c dl dt{font-size:18px;font-weight:bold;margin-top:31px;}
.life_c dl dd{font-size:12px;line-height:18px;}
.life_c dl .dd1 a{color:red;}
.life_c dl .dd2{margin-top:20px;}
.life_b{width:1221px;}
.life_b li{width:396px;height:70px;background:#f7faff;margin-top:10px;margin-right:11px;}
.life_b li img{margin-top:10px;margin-right:79px;}
.life_b li div p{margin-bottom:5px;}
.life_b li div p a{font-size:12px;color:#999999;}
.life_b li div span a{font-size:12px;color:red;}
.life_b li div{margin-top:14px;margin-left:70px;}
/*content*/
.content{width:1210px;height:450px;margin:0 auto;}
.cont_l{width:206px;height:446px;border:2px solid #e4393c;}
.cont_l h3{width:206px;height:38px;background:#e4393c;color:#fff;text-indent:20px;line-height:38px;}
.cont_nav_over{width:206px;height:408px;}
.cont_nav{width:206px;height:408px;}
.cont_nav li{width:190px;height:16px;padding-top:9px;padding-left:14px;font-size:14px;position:relative;z-index:6;border:2px solid #fff;border-left:none;}
.cont_nav li a{color:#333;}
.cont_nav li b{width:6px;height:9px;background:url(../images/sy_bg_12.png) no-repeat;position:absolute;left:192px;top:10px;}
.nav_pos{width:688px;height:406px;background:#fff;position:absolute;top:0;left:208px;display:none;border-bottom:2px solid #e4393c;border-right:2px solid #e4393c;border-top:2px solid #e4393c;}



.cont_r{width:1000px;height:450px;}
.cont_r_hd{width:1000px;height:40px;background:#e4393c;}
.cont_r_hd a{float:left;color:#fff;padding:0 27px;height:40px;line-height:40px;}
.cont_r_hd a:hover{background:#a40000;}

.cont_r_bottom{width:1000;height:410px;}
.r_b_l{width:680px;height:410px;}
.banner_pic{width:670px;height:240px;margin:10px 0 0 10px;position:relative;}
.banner_pic img{width:670px;height:240px;display:none;}
.banner_pic .toshow{display:block;}
.radius{position:absolute;right:50px;bottom:10px;}
.radius span{width:22px;height:22px;background:#666;border-radius:50%;line-height:22px;text-align:center;float:left;color:#fff;margin-right:5px;cursor: pointer;} 
.radius span.toactive{background:#9F0;}
.banner_pic b{width:30px;height:50px;background:#FF0;opacity:0.5;position:absolute;top:50%;margin-top:-25px;font-size:20px;text-align:center;line-height:50px;cursor: pointer;}
.next{right:0;}
.pre{left:0;}
.cont_r_3pic{margin-left:10px;position:relative;}
.r_3pic1{width:232px;height:159px;border:1px solid #eee;border-top:none;position:relative;}
.r_3pic1:hover{border-color:red;z-index:2;}
.r_3pic2{width:202px;height:159px;border:1px solid #eee;border-top:none;margin-left:-1px;position:relative;}
.r_3pic2:hover{border-color:red;z-index:2;}
.r_3pic3{width:232px;height:159px;border:1px solid #eee;border-top:none;margin-left:-1px;position:relative;}
.r_3pic3:hover{border-color:red;z-index:2;}
.cont_r_3pic .cont_r_p1{color:#676767;margin:20px 0 0 60px;}
.cont_r_3pic .cont_r_p2{font-size:16px;color:#ea2f20;margin:5px 0 0 60px;}
.cont_r_3pic img{margin:24px 0 0 98px;}

.r_3pic2 .cont_r_p1{color:#676767;margin:20px 0 0 30px;}
.r_3pic2 .cont_r_p2{font-size:16px;color:#ea2f20;margin:5px 0 0 30px;}
.r_3pic2 img{margin:24px 0 0 68px;}
.r_3pic3 .cont_r_p1{color:#676767;margin:20px 0 0 30px;}
.r_3pic3 .cont_r_p2{font-size:16px;color:#ea2f20;margin:5px 0 0 30px;}
.r_3pic3 img{margin:24px 0 0 68px;}

.cont_r_3pic b{width:30px;height:50px;background:#ccc;opacity:0.5;position:absolute;top:50%;margin-top:-25px;font-size:30px;text-align:center;line-height:50px;cursor:pointer;font-weight:bold;color:#FFF;}
.next1{right:10px;}
.pre1{left:10px;}

.r_b_r{width:310px;height:410px;}
.r_b_r img{width:310px;height:70px;margin-top:10px;}
.r_b_r h4{padding-bottom:9px;border-bottom:2px solid #aaa;margin-top:19px;}
.r_b_r h4 p{color:#666;}
.r_b_r_list{width:308px;height:108px;border:1px solid #eee;border-top:none;color:#666666;position:relative;}
.r_list_ul1{margin:8px 0 0 10px;}
.r_list_ul1 li{margin-bottom:13px;}
.r_b_r_list i{width:0;height:99px;border-left:1px solid #eee;position:absolute;left:154px;top:4px;}
.r_list_ul2{margin-right:10px;}
.gg9{margin-top:9px;}
.gg9 li{width:76px;height:84px;border:1px solid #eee;float:left;margin-left:-1px;margin-top:-1px;position:relative;}
.gg9 li:hover{border-color:red;z-index:2;}
.gg9 .gg9_li1{margin-left:0px;}
.gg9 .gg9_li5{margin-left:0px;}
.gg9 li p{width:19px;height:28px;background:url(../images/sy_bg_13.png) no-repeat;margin:11px 0 0 27px;}
.gg9 li span{margin:13px 0 0 25px;display:block;}
.gg9 li b{width:5px;height:3px;background:url(../images/sy_bg_08.png) no-repeat;margin:9px 0 0 34px;display:block;}
/*家电通讯*/
.houseHold{width:1210px;margin:20px auto;}
/*↓标题重用部分样式↓*/
.houseHold h3{width:1210px;height:40px;}
.houseHold h3 b{width:26px;height:38px;background:url(../images/sy_bg_001.png) no-repeat;}
.hh_l{width:210px;border-bottom:2px solid #aaa;}
.hh_l:hover{border-color:red;}
.hh_l:hover span{color:red;}
.hh_l span{font-size:22px;color:#666;font-weight:bold;display:block;line-height:40px;margin-left:34px;}
.hh_c{}
.hh_c li{position:relative;width:158px;height:40px;border-bottom:2px solid #aaa;text-align:center;line-height:40px;font-weight:bold;float:left;} 
.bg_sj1{width:158px;height:7px;background:url(../images/sy_bg_sj.png) no-repeat;display:block;position:absolute;left:0;bottom:-2px;display:none;}
.hh_c li:hover{color:red;}
.hh_c li:hover .bg_sj1{display:block;}
.hh_r{height:40px;width:210px;border-bottom:2px solid #aaa;line-height:40px;}
.hh_r a{margin-left:15px;}
.hh_r:hover{border-color:red;}
/*↑标题重用部分样式↑*/
.hh_cont{width:1210px;}
.hh_cont_l{width:209px;height:361px;border-bottom:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}
.hh_cont_l ul{line-height:23px;color:#666;margin:6px 50px 13px 5px;}
.hh_cont_l a{text-align:center;width:100%;display:block;}
.hh_cont_l:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c{width:792px;height:362px;}
.hh_cont_r{width:208px;height:361px;border-bottom:1px solid #f1f1f1;border-left:1px solid #f1f1f1;margin-left:-1px;}
.hh_cont_r:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c_l_t{width:158px;height:180px;border:1px solid #f1f1f1;border-top:none;margin-left:-1px;}
.hh_cont_c_l_t a{width:100%;display:block;text-align:center;padding-top:10px;}
.hh_cont_c_l_t p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.hh_cont_c_l_t b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.hh_cont_c_l_t:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c_l_b{width:158px;height:180px;border:1px solid #f1f1f1;margin-left:-1px;margin-top:-1px;}
.hh_cont_c_l_b a{width:100%;display:block;text-align:center;margin-top:10px;}
.hh_cont_c_l_b p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.hh_cont_c_l_b b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.hh_cont_c_l_b:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c_c_t{width:473px;height:180px;border:1px solid #f1f1f1;border-top:none;margin-left:-1px;position:relative;}
.cont_c_c_t_pos{position:absolute;left:50%;bottom:0;margin-left:-82px;}
.cont_c_c_t_pos span{width:36px;height:5px;background:#999;float:left;margin:5px;}
.cont_c_c_t_pos span.togreen{background:#7abd54;}

.hh_cont_c_c_t:hover{border-color:yellow;position:relative;z-index:2;}
.c_c_b_l{width:157px;height:180px;border:1px solid #f1f1f1;margin-left:-1px;margin-top:-1px;}
.c_c_b_l a{width:100%;display:block;text-align:center;padding-top:10px;}
.c_c_b_l p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.c_c_b_l b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.c_c_b_l:hover{border-color:red;position:relative;z-index:2;}
.c_c_b_c{width:157px;height:180px;border:1px solid #f1f1f1;margin-left:-1px;margin-top:-1px;}
.c_c_b_c a{width:100%;display:block;text-align:center;padding-top:10px;}
.c_c_b_c p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.c_c_b_c b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.c_c_b_c:hover{border-color:red;position:relative;z-index:2;}
.c_c_b_r{width:157px;height:180px;border:1px solid #f1f1f1;margin-left:-1px;margin-top:-1px;}
.c_c_b_r a{width:100%;display:block;text-align:center;padding-top:10px;}
.c_c_b_r p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.c_c_b_r b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.c_c_b_r:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c_r_t{width:158px;height:180px;border:1px solid #f1f1f1;border-top:none;margin-left:-1px;}
.hh_cont_c_r_t a{width:100%;display:block;text-align:center;padding-top:10px;}
.hh_cont_c_r_t p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.hh_cont_c_r_t b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.hh_cont_c_r_t:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_c_r_b{width:158px;height:180px;border:1px solid #f1f1f1;margin-left:-1px;margin-top:-1px;}
.hh_cont_c_r_b a{width:100%;display:block;text-align:center;padding-top:10px;}
.hh_cont_c_r_b p{width:133px;line-height:16px;margin-left:1em;
margin-top:8px;}
.hh_cont_c_r_b b{color:#e8393c;margin:1em 0 0 1em;display:block;}
.hh_cont_c_r_b:hover{border-color:red;position:relative;z-index:2;}
.hh_cont_r{position:relative;}
.hh_cont_r li{width:209px;height:22px;border-bottom:1px dotted #f1f1f1;padding-top:13px;}
.hh_cont_r li img{margin:0 13px 0 13px;}
.kq_logo_d{position:absolute;left:50%;bottom:0;margin-left:-42px;}
.kq_logo_d span{width:36px;height:5px;background:#999;float:left;margin:5px;}
.kq_logo_d span.togreen{background:#7abd54;}
/*footer*/
.footer_hot{width:1210px;margin:0 auto;}
.footer_hot_l .left_box{width:444px;height:190px;float:left;border:1px solid #dddddd;border-top:2px solid #aaaaaa;margin-left:-1px;}
.left_box h4{font-size:12px;color:#666666;margin-top:9px;margin-left:8px;}
.left_box div{font-size:12px;width:344px;height:70px;border-bottom:1px dotted #cbcbcb;padding-left:80px;margin-left:10px;background:url(../images/footer1.png) no-repeat 22px 0;}
.left_box div p {margin:6px 0;}
.left_box div p a{color: #005ea7;}
.left_box div span{line-height:18px;padding-right:66px;}
.left_box .footer_bd{border:none;}
.footer_hot_r{width:310px;height:193px;}
.right_box{width:290px;height:139px;border:1px solid #dddddd;border-top:2px solid #aaaaaa;padding-left:10px;padding-right:8px;}
.right_box h4 b{font-size:12px;font-weight:bold;}
.right_box h4 a{font-size:12px;color:#005ea7;font-weight:normal;}
.right_box h4{margin-top:9px;margin-bottom: 13px;}
.right_box ul{width:190px;height:105px;padding-left:100px;font-size:12px;background:url(../images/footer2.png) no-repeat;}
.right_box ul li{line-height:25px;}
.right_box ul li a{color:#005ea7;} 
.footer_hot_r h5{margin-top:8px;margin-bottom: 5px;}
.footer_hot_r .btn1{width:215px;padding-left:20px;padding-top:5px;padding-bottom:5px;outline:none; background:url(../images/footer3.png) no-repeat 2px 6px;}
.footer_hot_r .btn2{width:60px;line-height:25px;outline:none;border:none;background:#e4393c;color:#fff;}
.footer_t{width:1210px;margin:0 auto;border-top:1px solid #ccc;margin-top:10px;padding-top: 19px;padding-bottom: 15px;border-bottom: 1px solid #ccc;}
.footer_t dl{width:152px;height:142px;float:left;background:url(../images/footer4.png) no-repeat;padding-left:41px;}
.footer_t dt{color:#666695;font-weight:bold;margin-bottom: 8px;}
.footer_t dd{font-size:12px;line-height: 20px;}
.footer_t .footer_map{width:198px;height:142px;float:left;background:none;}
.footer_b{width:1210px;margin:0 auto;font-size: 12px;margin-top: 24px;}
.footer_b ul li{text-align: center;}



















































































































